.bio {
    margin-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    font-weight: 600;
    border-style: solid;
    border-color: black;
    
}

.aboutMe {
    color: teal;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 50%
}