.header {
    display: flex;
    background: teal;
    height: 125px;
}

.name {
    font-size: 4.5em;
    color: white;
    margin-left: 1%;
    align-items: left;
}

li {
    margin-top: 1%;
    float: right;
    padding: 2%;
    font-size: 1em;
    color: white;
}

.navbar a {
    float: right;
    align-items: right;
}

ul a {
    float: right;
    align-items: right;
}